<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gestao de Tarefas do IPG</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/business-frontpage.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Gestão de Tarefas IPG</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Professors" asp-action="Index">Professores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Funcionarios" asp-action="Index">Funcionários</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Servicos" asp-action="Index">Serviços</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="py-5 bg-dark">
        <div class="container text-center text-md-left mt-5">

            <!-- Grid row -->
            <div class="row mt-3">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                    <!-- Content -->
                    <h6 class="text-uppercase font-weight-bold" style="color:white">Gestão Tarefas IPG</h6>
                    <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; color:white">
                    <p style="color:white">
                        Francisco Cordeiro - 1012394<br />
                        <br>João Dias - 1012173<br />
                        <br/>Vital Gonçalves - 1011719
                    </p>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold" style="color:white">Escolas</h6>
                    <hr class=" accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; color:white">
                    <p>
                        <a href="http://www.estg.ipg.pt" style="color:white" target="_blank">Escola Supertior de Tecnologia e Gestão</a>
                    </p>
                    <p >
                        <a href="http://www.esecd.ipg.pt" style="color:white" target="_blank">Escola Superior de Educação, Comunicação e Desporto</a>
                    </p>
                    <p>
                        <a href="http://www.ess.ipg.pt" style="color:white" target="_blank">Escola Superior de Saúde</a>
                    </p>
                    <p>
                        <a href="http://www.esth.ipg.pt/" style="color:white" target="_blank">Escola Superior de Turismo e Hotelaria</a>
                    </p>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold"style="color:white">Informação Útil</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p style="color:white">
                      Projeto desenvolvido no âmbito da Unidade Curricular de Programação para a Internet, do 3º ano da Licenciatura de Engenharia Informática lecionada pelo professor Noel de Jesus Mendonça Lopes.
                    </p>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold"style="color:white">Contactos</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                    <p class="fas fa-home mr-3" style="color:white">Av. Dr. Francisco Sá Carneiro, nº50, 6300-559 Guarda</p> 
                    </p>
                    <p>
                        <p class="fas fa-envelope mr-3" style="color:white">http://www.ipg.pt</p> 
                    </p>
                    <p>
                        <p class="fas fa-phone mr-3" style="color:white">ipg@ipg.pt</p> 
                    </p>
                    <p>
                        <p class="fas fa-print mr-3" style="color:white">Tel. 271 220 100</p> 
                    </p>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" style="color:white">
            © 2020 Copyright:
            <a asp-controller="Home" asp-action="Index" style="color:white"> GestaoTarefasIPG</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</body>
</html>