@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <img class="img-fluid" src="~/imagens/politecnico-guarda-1300x485.jpg" />
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <a href="http://localhost:63413/Professors"  class="btn btn-group-sm "><h6>Lista de Professores</h6></a>
                </div>
                <div class="col-sm">
                    <h6>Lista de Funcionários</h6>
                </div>
                <div class="col-sm">
                    <h6>Lista de Serviços</h6>
                </div>
            </div>
        </div>
    </div>
