@model GestaoTarefasIPG.Models.Professor

@{
    ViewData["Title"] = "Create";
}

<h1>Criar Novo Professor</h1>

<h4>Professor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label">Nome Completo</label>
                <input asp-for="Nome" class="form-control" placeholder="Introduza o seu nome"/>
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label" >Email Completo</label>
                <input asp-for="Email" class="form-control" placeholder="Introduza o seu email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
                <small id="emailHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
                <label asp-for="Telemovel" class="control-label">Número de telemóvel</label>
                <input asp-for="Telemovel" class="form-control" placeholder="Introduza o seu número de telemóvel"/>
                <span asp-validation-for="Telemovel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numero_De_Professor" class="control-label">Número de Professor</label>
                <input asp-for="Numero_De_Professor" class="form-control" placeholder="Introduza o seu número de professor"/>
                <span asp-validation-for="Numero_De_Professor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numero_De_Gabinete" class="control-label">Número de Gabinete</label>
                <input asp-for="Numero_De_Gabinete" class="form-control" placeholder="Introduza o seu número de gabinete"/>
                <span asp-validation-for="Numero_De_Gabinete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" /> <a asp-action="Index" class="btn btn-info">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
